{% extends 'store/index.htm' %}

{% block content %}

    <div class="col-md-4 text-center">
        <div class="card">
            <img class="card-img-top h-100" src="{{products.imageURL}}" alt="" >
            <div class="card-body">
                <h4 class="card-title">{{products.name}}</h4>
                <hr>
                <a href="{% url 'store' %}" class="btn btn-outline-info">
                    <i class="fas fa-arrow-left"></i>
                    Continue Shopping</a>
                <h4 class=" card-text" style="display: inline-block; float : right;"> &#x20B5;{{products.price|floatformat:2}}</h4>
            </div>
        </div>
    </div>
    <div>
        
    </div>
{% endblock content %}